*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: cambria, cochin,georgia;
}

main{
max-width: 1500px;
width: 95%;
margin: 30px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: auto;
}
.requestInfo,
  .FurtherDescription,
  .requestDate input {
    width: 100%; /* Set the width to 100% to cover the container */
    padding: 5px; /* Add padding for spacing within the input */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

main.card
{
max-width: 300px;
flex: 1 1 210px;
text-align: center;
height: 400px;
border: 1px solid lightgray;
}
main .card .infoCenter{
height: 50%;
margin-bottom: 20px;
width:100%;
height: 100%;

background-color: #CEC6B1;

}

