@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-family: Poppins, sans-serif;
}

.border-manage {
  border-color: #2563eb;
  border-width: 1px;
}

.border-row {
  border-top: 1px solid #2563eb; /* Apply blue color to top border */
  border-bottom: 1px solid #2563eb; /* Apply blue color to bottom border */
}

.text-green-800 {
  color: #33c633;
}

.bg-green-100-rounded {
  background-color: #cdf4d9;
  padding: 1rem; /* Adjust padding as needed */
  border-radius: 0.5rem; /* Adjust border-radius as needed */
}

.text-center {
  text-align: center;
}

:is(.dark .dark\:border-gray-700) {
  --tw-border-opacity: 1;
  border-color: #4a5568;
}

@media (min-width: 600px) {
  .show-univ {
    display: block !important;
  }
}

@media (min-width: 426px) {
  .size-med {
    width: 24rem !important;
  }
}

@media screen and (max-width: 690px) {
  .table-scrollable {
    overflow-x: auto;
    display: block;
  }

  .table-scrollable::-webkit-scrollbar-track {
    background-color: transparent; /* Set scrollbar track color */
  }

  .table-scrollable::-webkit-scrollbar-thumb {
    background-color: purple; /* Set scrollbar thumb color */
    border-radius: 10px; /* Set scrollbar thumb border radius */
  }
}

@media screen and (max-width: 797px) {
  .modify-mobile {
    display: flex;
    flex-direction: column;
  }
  .modify-mobile-1,
  .modify-mobile-2,
  .modify-mobile-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .modify-mobile-3 {
    display: flex;

    justify-content: center !important;
    margin: auto !important;
  }
}
